@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

.pagination {
    width: 100%;
    margin-bottom: 60px;

    &__list {
        list-style-type: none;
        margin: 0 auto;
        @include flexRowAlign;
        gap: 8px;
    }

    &__button {
        width: 30px;
        height: 30px;
        border-radius: 3px;
        transition: background-color 0.3s;

        img {
            width: inherit;
            height: inherit;
        }

        &:hover {
            background-color: $lightPurple;
        }
        
        &.hidden {
           display: none;
        }
    }

    &__left {
        transform: rotate(-180deg);
    }
}

@media (max-width: $widthMobile){

    .pagination {
    
        &__list {
            margin: 0 0 0 auto;
        }
    }
}