/*Colors*/
$baseBlack: #222222;
$baseGray: #5E5E5E;
$lightGray: #d0d0d2;
$baseWhite: #F5F6FA;
$baseHover: #714ad9;
$basePurple: #aeaff8;
$lightPurple: #e0e1f9;


/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
$baseFont: 'Open Sans', sans-serif;
$baseSize: 18px;
$baseWeight: 400;