/*Colors*/
$baseBlack: #222222;
$baseGray: #5E5E5E;
$baseWhite: #F5F6FA;;
$baseHover: #10665E;

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
$baseFont: 'Open Sans', sans-serif;
$baseSize: 16px;
$baseWeight: 400;