@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

.gridTable {

    margin-bottom: 40px;

    .notData {
        padding: 20px 0;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid $lightGray;
    }
}