@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";

.sidebar {
    min-width: 180px;
    width: auto;

    &__list {
        list-style-type: none;    
        padding: 10px 60px 0 45px; 
    }

    &__link {
        display: flex;
        flex-direction: row;
        font-weight: 500;
        color: $baseBlack;
        margin-bottom: 10px;
        font-size: 18px;

        &:hover {
            color: $baseHover;
        }
    }
}