@import '../../../../styles/constants.scss';
@import '../../../../styles/mixins.scss';

.tableRow {
    transition: background-color 0.35s;

    span {
        position: absolute;
        width: 5px;
        height: 5px;
    }

    &:hover {
        background-color: $baseWhite;
    }
}

.information {


    &__cell {
        @include flexRow;
        gap: 20px;
        padding-left: 50px;
    }

    &__image {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    &__data {
        min-width: 500px;
    }

}