@import '../../../../styles/constants.scss';
@import '../../../../styles/mixins.scss';

.tableRow {
    transition: background-color 0.35s;

    span {
        position: absolute;
        width: 5px;
        height: 5px;
    }

    &:hover {
        background-color: $baseWhite;
    }
}