@import '../../../../styles/constants.scss';
@import '../../../../styles/mixins.scss';

.table>:not(caption)>*>* {
    padding: 10px;
}

.headerCell {

    &__data {
        @include flexRowAlign;
        gap: 12px;
        cursor: pointer;
        transition: color 0.2s;

        &:hover {   
            color: $lightGray;  
        }
    }

    &__img {
        position: relative;
        display: block;
        width: 15px;
        height: 15px;
        transition: background-color 0.3s;
        border-radius: 2px;
        cursor: pointer;

        &::after {
            content:"";
            color: currentColor;
            position: absolute;
            top: 0;
            right: 0;
            width: 15px;
            height: 15px;
            background-image: url("../../../../img/GridTable/arrow.svg");
        }

        &--descend {
            transform: rotate(90deg);
        }

        &--ascend {
            transform: rotate(-90deg);
        }

        &:hover {
            background-color: $baseGray;
        }

        &:active {
            background-color: $basePurple; 
        }

        &.active {
            background-color: $basePurple; 
        }

        &__sort {
            display: flex;
            flex-direction: column;
            gap:1px;
            align-items: center;
        }
    }
}